﻿.colResizer{
    position:absolute;
    z-index:10;
    width:5px;
    background-image:url(../images/columnResizer.gif);
    background-position:center center;
    background-repeat:no-repeat;
    height: 1.7em !important;
    white-space:nowrap;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom:none;
}
.colResizer:hover{
    cursor: col-resize;
}

.dataTables_scroll{
    font-family:'Roboto', sans-serif !important;
    font-weight:500;

   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
.dataTables_scrollBody {
    overflow-x: auto;
    overflow-y: visible;
}
.dataTables_scrollHead th{
    white-space:nowrap;
    overflow:hidden;
}
.dataTables_scrollBody table{
    margin:auto;
}
.dataTables_scrollBody td{
    white-space:nowrap;
    overflow:hidden;
}
table.dataTable thead .sorting_asc {
  background: url("./ddm_uparrow.png") no-repeat center left;
  padding-right:10px;
  padding-left:10px;
}
table.dataTable thead .sorting_desc {
  background: url("./ddm_downarrow.png") no-repeat center left;
  padding-right:10px;
  padding-left:10px;
}
table.dataTable thead .sorting {
  background: none;
  padding-right:10px;
  padding-left:10px;
}
table.dataTable tbody tr.odd{
    background-color:rgb(240,240,240);
}
table.dataTable.stripe tbody>tr.odd.selected, table.dataTable.stripe tbody>tr.odd>.selected, table.dataTable.display tbody>tr.odd.selected, table.dataTable.display tbody>tr.odd>.selected{
    background-color: #e0f18e;
}
table.dataTable.hover tbody>tr.selected:hover, table.dataTable.hover tbody>tr>.selected:hover, table.dataTable.display tbody>tr.selected:hover, table.dataTable.display tbody>tr>.selected:hover {
    background-color: #e0f18e;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #e0f18e;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight:normal;
    border-bottom: none;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td{
    border:none;
    padding:5px,10px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border:none;
}
table.dataTable thead th, table.dataTable thead td,table.dataTable tbody th, table.dataTable tbody td{
    padding:10px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}
#tableContainer{
    width:800px;
    height:100px;
    margin:50px;
}
.cellSpan:hover{
    text-decoration:underline;
}